@import './variables';

@mixin font-weight($font-weight-type) {
  @if (map-has-key($font-weights, $font-weight-type)) {
    font-weight: map-get($font-weights, $font-weight-type);
  } @else {
    @error "font-weight '#{$font-weight-type}' is not exist";
  }
}

@mixin single-line-elliptical-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin multiline-elliptical-text($number-of-lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $number-of-lines;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}
